body{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/1018/717/desktop-wallpaper-my-talking-tom-2-my-talking-tom.jpg);
    background-repeat: no-repeat;
    background-size: 1480px;
    
}
.text{
    color:azure;
}
.text2{
    color:rgba(231, 247, 149, 0.945);
}
.text3{
    color:rgb(9, 8, 88);
}